In [38]:
import pandas as pd
import mysql.connector as con

### Dataframe loading

In [39]:
iplData = pd.read_csv("../../dataset/IPL_Ball_by_Ball_2008_2022.csv")

iplData.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

### SQL query for Table creation

In [43]:


data_type_mapping = {
    'int64': 'INT',
    'float64': 'FLOAT',
    'object': 'NVARCHAR(255)'
}

# Create a list of column definitions based on the DataFrame's data types
column_definitions = [f'"{col}" {data_type_mapping[iplData[col].dtype.name]}' for col in iplData.columns]
table_name = "IPL_Data"

create_table_sql = f'''CREATE TABLE {table_name} (
    {', '.join(column_definitions)}
)
'''

print(create_table_sql)

CREATE TABLE IPL_Data (
    "ID" INT, "innings" INT, "overs" INT, "ballnumber" INT, "batter" NVARCHAR(255), "bowler" NVARCHAR(255), "non-striker" NVARCHAR(255), "extra_type" NVARCHAR(255), "batsman_run" INT, "extras_run" INT, "total_run" INT, "non_boundary" INT, "isWicketDelivery" INT, "player_out" NVARCHAR(255), "kind" NVARCHAR(255), "fielders_involved" NVARCHAR(255), "BattingTeam" NVARCHAR(255)
)

In [66]:
len(iplData.columns)

17

### SQL connection with python

In [87]:
mycon = con.connect(host='localhost', passwd='ru15070610',
                    user='root', database="cricket")

cursor = mycon.cursor()

In [61]:
queryString2 = """ 'ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam'
"""

queryString2

" 'ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',\n       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',\n       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',\n       'fielders_involved', 'BattingTeam'\n"

In [90]:
# table_name = 'CricketMatch'

# iplData.to_sql(table_name, mycon, if_exists='replace', index=False)

# # Commit the changes and close the connection
# cursor.commit()
# cursor.close()


for index, row in iplData.iterrows():
     query = "INSERT INTO cricket.CricketMatch ("+ queryString2+")"
     values = "values ()"
     finalData = list(row.values)
     if index<3:
          continue
     insert_sql = """
          INSERT INTO CricketMatch (
          ID, innings, overs, ballnumber, batter, bowler, non_striker, extra_type,
          batsman_run, extras_run, total_run, non_boundary, isWicketDelivery,
          player_out, kind, fielders_involved, BattingTeam
          ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)
          """
     for ind,data in enumerate(finalData):
          if f"{data}"== "nan":
               finalData[ind] = None

     cursor.execute(insert_sql, finalData)

mycon.commit()

mycon.close()

In [ ]:
iplData.to_sql('products', cursor, if_exists='replace', index = False)
 
cursor.execute('''  
SELECT * FROM IPL_Data
          ''')

for row in cursor.fetchall():
    print (row)